<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
</head>
<body>
    <h1><%= code %></h1>
    <h1><%= appid %></h1>
    <h1><%= url %></h1>
    <h1><%= secret %></h1>
    <button id="btn">下一步</button>
    <script>
        $(function(){
            var appid = <%= appid %>;
            var secret = <%= secret %>;
            var url = <%= url %>;
            var code = <%= code %>;
            $('#btn').on('click',function(){
                $.ajax({
                    type:'POST',
                    url: url,
                    data: {
                        appid: appid.toString(),
                        secret: secret.toString(),
                        code: code.toString(),
                        grant_type: 'authorization_code'
                    }
                    success: function(result){
                        console.log(result)
                    }
                })
                // window.location='<%= url%>';
            })
            
        })
    </script>
</body>
</html>